<ion-view title="form" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="form-form6" class="list ">
            <ion-toggle toggle-class="toggle-royal" id="form-toggle8" class=" ">Toggle</ion-toggle>
            <ion-radio id="form-radio7" class=" ">Radio</ion-radio>
            <label class="item item-input item-stacked-label " id="form-input5">
                <span class="input-label">Fecha de ingreso</span>
                <input type="date" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 22px;"></div>
            <ion-item class="range range-royal " id="form-range2">Range
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </form>
    </ion-content>
</ion-view>