<ion-view title="list" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="list-list1" class=" ">
            <ion-item class="item-thumbnail-left item-icon-right royal  " id="list-list-item1" href="tel:">
                <h2royal>Item
                    <p style="white-space:normal;">Producto de $150.000</p>
                    <i class="icon ion-android-cart"></i>
                </h2royal>
            </ion-item>
            <ion-item class="item-thumbnail-left royal  " id="list-list-item2">
                <h2royal>Item</h2royal>
            </ion-item>
            <ion-item class="item-thumbnail-left royal  " id="list-list-item3">
                <h2royal>Item</h2royal>
            </ion-item>
        </ion-list>
        <div class="list card " id="list-card21">
            <ion-item class="item-icon-left royal  " id="list-list-item4">
                <i class="icon ion-ios-bookmarks-outline"></i>Item</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="list-list-item-container1">
                <p id="list-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-icon-left royal  " id="list-list-item5">
                <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
        <form id="list-form4" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="list-toggle3" class=" ">Toggle</ion-toggle>
            <ion-radio id="list-radio3" class=" ">Radio</ion-radio>
            <label class="item item-input " id="list-input4">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>