<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="home-form1" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <label class="item item-select " id="home-select1">
                <span class="input-label">Select</span>
                <select></select>
            </label>
            <label class="item item-select " id="home-select2">
                <span class="input-label">Select</span>
                <select></select>
            </label>
            <label class="item item-select " id="home-select3">
                <span class="input-label">Select</span>
                <select></select>
            </label>
        </form>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>