<ion-view title="Page" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page-form2" class="list ">
            <label class="item item-input item-stacked-label " id="page-input2">
                <span class="input-label">e-mail</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input item-stacked-label " id="page-input3">
                <span class="input-label">password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <a ui-sref="welcome" id="page-button1" class=" button button-positive  button-block ">Ingreso</a>
    </ion-content>
</ion-view>