<ion-view title="welcome" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
        {{page-input2 }} <br/>
        {{page-input3}} <br/>
        </div>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <p id="welcome-markdown1" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
    </ion-content>
</ion-view>