<ion-view title="Cart" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="cart-heading1" style="color:#000000;" class=" ">Heading</h1>
        <p id="cart-markdown1" style="color:#000000;" class=" ">Some friendly
            <strong>markdown</strong>
        </p>
        <div class="item item-body " id="cart-list-item-container1">
            <p id="cart-markdown2" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <ion-list id="cart-list1" class=" ">
            <ion-item class="item-divider " id="cart-list-item-divider1">Item</ion-item>
            <ion-item class="item-divider " id="cart-list-item-divider2">Item</ion-item>
            <ion-item class="item-divider " id="cart-list-item-divider3">Item</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <div class="item item-body " id="cart-list-item-container2">
            <p id="cart-markdown3" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <ion-list id="cart-list2" class=" ">
            <ion-item class="item-divider " id="cart-list-item-divider4">Item</ion-item>
            <ion-item class="item-divider " id="cart-list-item-divider5">Item</ion-item>
            <ion-item class="item-divider " id="cart-list-item-divider6">Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>